html, body {
    height: 100%;
    margin: 0;
  }

  body {
    /* background-image: url("gifs/cheekyBorris.gif"); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-size: cover; */
  }
  canvas {
    border: 1px solid white;
  }